body {
  overflow: hidden;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: 1s ease;
  background-color: white;
}

.App-header::before{
  content: '';
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-name {
  color: #555
}

.main-background::before{
  transition: 1s ease;
  background-image: url(imgs/mateus-main.jpg);
  background-position: center;
  background-size: 100%;
}

.bio-background::before{
  transition: 1s ease;
  background-image: url(imgs/mateus-bio.jpg);
  background-position: right;
  background-size: 150%;
  opacity: 0.8;
}

.education-background::before{
  transition: 1s ease;
  background-image: url(imgs/mateus-education.jpg);
  background-position: left;
  background-size: 150%;
}

section.deactive {
  transition: 1s ease;
  visibility: hidden;
}

section.deactive.bio-section{
  transform: translateX(100vw);
}

section.deactive.education-section {
  transform: translateX(-100vw);
}

section.deactive.experience-section {
  transform: translateX(-100vw);
}

section.active {
  transition: 1s ease;
}


section.sections {
 min-width: 500px;
 margin: auto;
}

section.sections:not(:last-child) {
  position: absolute;
 }

section.sections .col{
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
}

div.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
